/* ul{
    list-style-type: none;
    display: block;
    margin:0px;
    overflow: hidden;
    padding:0px;
    color: white;
}
li{
    float: left;
    padding: 16px;
    background-color: rgb(8, 202, 8);
    border-radius: 10px;
    font-weight: 800;
    display: inline;
}  */
/* *{
    box-sizing: border-box;
}
.traffic{
    border: none;
    height: 150px;
    width:60px;
    margin:0px auto;
    box-shadow: 6px 4px 9px ;
    background-color: rgb(65, 61, 61);
}
.red{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: red;
    margin:6px auto;
    
}
.yellow{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: yellow;
    margin:4px auto;
}
.green{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: green;
    margin:4px auto;
}
.pole{
    border: none;
    height: 300px;
    width:10px;
    margin:0px auto;
    border-top: none;
    border-bottom: none;
    background-color: rgb(65, 61, 61);
    box-shadow: 6px 4px 9px ;
}
.base{
    border: none;
    height: 40px;
    width: 60px;
    margin:0px auto;
    box-shadow: 6px 4px 9px ;
    background-color: rgb(65, 61, 61);
} */



/* applying flex property in two type one is direct adding to 
            parent and another is adding to specific child */

    /* flex-direction */
    /* row {default}, row-reverse, column, column-reverse */

    /* flex-wrap */
    /* add another five boxes to understand this */
    /* nowrap{default}, wrap, wrap-reverse */

    /* justify-content */
    /* flex-start{default}, flex-end, center */
    /* space-between, space-around(add space both sides equally),space-evenly */
    /* justify-content is for horizontal alignment */

    /* align-items(vertical alignment */
    /* to understand this set height of the parent container */
    /* strech{default}, flex-start, flex-end */
    /* baseline it is used for vertical align of text in same horizontal
    to understand this increase the font-size of box1 */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    border: 5px solid red;
    display: flex;
    height: 60vh;
    /* display: inline-flex; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: flex-start; */
    /*justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items:stretch ; */
    /* align-items:flex-start ; */
    /* align-items:flex-end ; */
    /* align-items:center ; */
    /* align-items:baseline ; */

}

.box{
    padding: 30px;
    text-align: center;
    font-size: 35px; 
    

}
.box1{
    background-color: aqua;
    
}
.box2{
    background-color:green;
    
}
.box3{
    background-color: red;
    
}
.box4{
    background-color: orange;
    
}
.box5{
    background-color: pink;
    
}
.generic{
    background-color: aqua;
    
}




